body{
	font-family: arial, helvetica, sans-serif;
}

.boton{
	background:black;
	color:white;
	display:inline-block;
	padding: 10px 30px;
	border-radius: 5px;
	font-size: 16px;
	text-decoration: none;
}

.boton-rojo{
	@extend .boton;
	background:red;
}

.boton-chico{
	@extend .boton;
	font-size:14px;
	padding: 5px 15px;
}

.boton-grande{
	@extend .boton;
	font-size: 20px;

}

.boton-linea{
	@extend .boton;
	background: none;
	border: 1px solid #444;
	color: #333;

}

.boton-x{
	@extend .boton;
	background:#456783;
	transition: .5s;
	&:hover{
		background: darken(#456783,15%);
		transform: scale(1.1);
	}
}


@mixin hacercirculos($tamano, $color){
	width: $tamano;
	height: $tamano;
	background:$color;
	display:inline-block;
	border-radius:50%;
}

.circulo1{
	@include hacercirculos(100px, red);
}

.circulo2{
	@include hacercirculos(200px, blue);
}

.circulo3{
	@include hacercirculos(300px, pink);

}


@mixin border-radius($radio){
	-moz-border-radius:$radio;
	-o-border-radius:$radio;
	-ms-border-radius:$radio;
	-webkit-border-radius:$radio;
	border-radius:$radio;
}

@mixin box-shadow($offsetv, $offseth, $blur, $colorx){
	-moz-box-shadow: $offsetv $offseth $blur $colorx;
	-o-box-shadow: $offsetv $offseth $blur $colorx;
	-ms-box-shadow: $offsetv $offseth $blur $colorx;
	-webkit-box-shadow: $offsetv $offseth $blur $colorx;
	box-shadow:$offsetv $offseth $blur $colorx; 

}




.circulo{
	@include box-shadow(5px, 5px, 10px, rgba(0,0,0,0.5));
	@include border-radius(50%);
	background:red;
	height: 100px;
	width: 100px;
}



@mixin hacerbotones($color_txt, $color_fondo, $radio, $paddingv, $paddingh, $taman-fuente){

	display:inline-block;
	text-decoration: none;
	color: $color_txt;
	background: $color_fondo;
	border-radius: $radio;
	padding: $paddingv $paddingh;
	font-size: $taman-fuente;
	transition: 1s;
	&:hover{
		transform: scale(1.1);
		background: darken($color_fondo, 15%);
	}

}	

.boton-mx1{
	@include hacerbotones(white, #34578e, 5px, 10px, 30px,20px);
}

.boton-mx2{
	@include hacerbotones(red, #35678e, 8px, 15px, 50px,30px);
}

.boton-mx3{
	@include hacerbotones(limegreen, #12456e, 10px, 20px, 20px,40px);
}